
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign indexPages = site.pages | where:"lang-ref", "index" -%}
    {%- for indexPage in indexPages -%}
    {%- if indexPage.lang == page.lang -%}
    <a class="navbar-brand js-scroll-trigger" href="{{ site.base-url }}{{ indexPage.url }}">{{ site.title | escape }}</a>
    {%- endif -%}
    {%- endfor -%}

    {%- if page_paths -%}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        {%- for path in default_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title and my_page.lang == page.lang -%}
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}
  </div>
</nav>


{%- if page.layout == 'home' -%}
<!-- Masthead-->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">
          José Carlos Martínez
        </h1>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">
          {{ site.data.i18n[page.lang]['header'] }}
        </p>
      </div>
    </div>
  </div>
</header>

{%- endif -%}

{%- if page.layout != 'home' -%}
<!-- Posts -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">{{ page.title }}</h1>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <p class="text-white-75 font-weight-light mb-5">
          <span>{{ page.date | date: date_format }}</span> <span>

      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

      {%- if page.description -%}
        <span>{{ page.description }}</span>
      {%- endif -%}
        </p>
        </span>
        </p>
      </div>
    </div>
  </div>
</header>

{%- endif -%}