---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        {%- for post in site.posts -%}
        {%- if post.lang == page.lang -%}
    <div class="card  mb-4 card-hover">
        <div class="card-body">
            <div class="row">
                <div class="col-2 px-4">
                    {%- assign logoUrl = '/assets/logos/' | append: post.logo | append: '.svg'  -%}
                    <img src="{{ logoUrl | relative_url }}" alt="" class="img-fluid ">
                </div>
                <div class="col-10">
                    <p class="card-text">
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3></h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>

                    </h3>
                    </p>
                </div>
            </div>
            {%- if site.show_excerpts -%}
            <div class="row mt-1">
                <div class="col-12">
                    {{ post.excerpt }}
                </div>
            </div>
            {%- endif -%}
        </div>
    </div>
        {%- endif -%}
        {%- endfor -%}


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>
